*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 9em;

}
h1{
    color: #008caa;
}
.center{
    text-align: center;
}
button,select{
    border: 2px solid #008caa;
    background-color: transparent;
    color:#008caa;
    border-radius: 5px;
    font-size: small;
    padding: 3px;
}
.widget{
    margin-left: 55px;
}
.action-btn{
    font-size: large;
    padding: 9px;
    margin: 16px;
}
.chat-bot-div{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    object-fit: contain;
    max-height: 50px;
    margin-left: 14px;
}

.react-chatbot-kit-chat-container{
    min-height: 80vh !important;
    min-width: 50vw !important;
    border: 1px solid #efefef;
    border-radius: 5px;
}
.react-chatbot-kit-chat-inner-container{
    overflow: hidden;
    height: 100% !important;
}
.react-chatbot-kit-chat-inner-container,.react-chatbot-kit-chat-message-container{
    /* height: 80vh !important; */
}
.react-chatbot-kit-chat-message-container{
    height: 35em !important;
    overflow: scroll;
}

.react-chatbot-kit-chat-bot-message{
    margin-left: 0 !important;
}
.react-chatbot-kit-user-avatar-container{
    background-color: #008caa !important;
}

